.container  {
    display: flex;
    border-radius: 25px;
    width: clamp(350px, 85vw, 1000px);
    height: clamp(500px, 80%, 600px);
    background: var(--bg-dark);
    margin: auto;
    position: relative;
    overflow: hidden;
    box-shadow: -5px 5px 8px #0b0b0b3e,
    inset -1px 1px 3px #ffffff1f;
}

.view {
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    animation: background 7s infinite alternate-reverse;
    background: linear-gradient(-135deg, var(--bg-dark), var(--color));
    background-size: 500%;
    display: flex;
    flex-direction: column;
}

.view[animate = true] .container {
    animation: slideIn 2s forwards;
}

.view[animate = true] .details {
    animation-delay: 1s;
    animation: text 3s forwards;
}

.view[animate = true] .image img {
    animation: fadeIn 0.8s forwards;
}

.image {
    overflow: hidden;
    width: clamp(350px, 50%, 580px);
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--bg-dark);
    border-radius: 22px 0 0 22px;
}

.image img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease-out;
}

.image img:hover {
    transform: scale(1.05);
}

.status {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 10px 0;
    gap: 5px;
    font-size: 0.75rem;
    opacity: 0.8;
    border: 1px solid;
    padding: 5px 8px;
    border-radius: 25px;
}

.status::before {
    content: " ";
    width: 10px;
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%; 
}

.status[status = "0"] {
    color: #71d420;
}

.status[status = "1"] {
    color: #f1e31d;
}

.status[status = "2"] {
    color: #f16615;
}

.status[status = "0"]::before {
    background: #71d420;
}

.status[status = "1"]::before {
    background: #f1e31d;
}

.status[status = "2"]::before {
    background: #f16615;
}

.description {
    border-left: 1px solid;
    padding-left: 10px;
}

.details {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 22px;
}

.details p {
    font-size: 0.9rem;
    opacity: 0.8;
    line-height: 18px;
    margin-top: 10px;
}

.details h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.details .tech {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0;
}

.details .tech span {
    border: 1px solid;
    border-radius: 25px;
    padding: 3px 8px;
    font-size: 0.75rem;
    opacity: 0.7;
}

.details .tech span:hover {
    background: var(--color);
    color: var(--bg-dark);
}

.title {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.colors {
    display: flex;
    gap: 6px;
    align-items: center;
}

.pallete {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 2px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff1f;
}

::-webkit-scrollbar-track {
    background: transparent;
    height: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 22px;
}

@media screen and (width < 768px) {
    .container {
        display: block;
    }

    .image {
        width: 100%;
        height: 45%;
        
    }

    .details {
        padding: 10px;
        width: 100%;
    }

    .details .results {
        max-height: 120px;
        padding: 5px;
        overflow: scroll;
    }
}

@keyframes background {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes text {

    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeIn {

    0% {
        height: 85%;
        filter: blur(2px);
    }

    100% {
        height: 100%;
    }
}
