.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: clamp(200px, 95%, 700px);
    background-color: rgba(227, 227, 227, 0.951);
    position: fixed;
    top: 15px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 45px;
    transition: 1s all;
    flex-wrap: wrap;
    backdrop-filter: blur(3px);
}

.linkPill {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.2s all;
}

.linkPill:hover {
    border-bottom-color: var(--bg-dark);
}
