header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat extralight';
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 2px;
    transition: background-color 0.3s ease-out;

    color: #dfdfdf;
    font-size: 20px;

    margin: 0rem 2rem;
}

header ul li:hover {
    background-color: #9e9e9e;
    color: #000;
    font-family: 'Montserrat medium';
    box-shadow: -3px 3px 2rem rgba(138, 133, 133, 0.116);
}